@import url('https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext');

:root {
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
  }
#topheader .phone {
 display: flex;
 justify-content: flex-start;
}
#topheader .phone img {
    width: 80px;
    height: 80px;
    margin: 10px;
}
#topheader .upperlogo{
 display: flex;
 justify-content: flex-end;
}
#topheader{
 display: flex;
 justify-content: space-between;

}
#headerinformation img {
    width: 50px;
    height: 50px;
    margin: 20px;
}
#headerinformation .headbackground {
 display: flex;
 justify-content: flex-start;
}
.headbackground img {
 width: 690px;
 height: 440px;
 margin:0;
}
#headerinformation .locationinfo {
 display: flex;
 justify-content: space-around;
 align-items:center;
}
#headerinformation .timetableinfo {
 display: flex;
 justify-content: space-around;
 align-items:center;
}
#headerinformation {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 flex-direction: column;
 margin-right: 60px;
}
#header{
 display: flex;
 justify-content: space-between;
 align-items: center;
}